/*To change a brick size, change only width & height here and only here*/

.domino-brick {
    /*background-color: rgb(0, 160, 199, 0.8);*/
    font-size: 15px;
    width: 2em; /*can change*/
    height: 4em; /*can change*/
    border-radius: .8em;
    box-shadow: 0.1em 0.1em 0em 0.1em #333;
    display: flex;
    flex-direction: column;
    position: relative;
}

.domino-line {
    width: 100%;
    height: 2%;
    position: absolute;
    top: 50%;
    left: 0.25%;
    background-color: rgb(0, 0, 0);
}

.domino-brick[status="neutral"] {
    background-color: rgb(0, 160, 199, 0.8);

}

.domino-brick[status="valid"] {
    background-color: green;
}

.domino-brick[status="invalid"] {
    background-color: red;
}


.domino-brick[direction="horizontal"] {
    transform: rotate(90deg);
    margin: 0 15px;
}

.domino-brick[direction="vertical"] {
    margin: 0 15px;
}

.domino-brick[status="invalid"]:hover {
    animation: nudge .4s linear;
}

@-webkit-keyframes greenPulse {
    from { background-color: #749a02; -webkit-box-shadow: 0 0 9px #333; }
    50% { background-color: #91bd09; -webkit-box-shadow: 0 0 18px #91bd09; }
    to { background-color: #749a02; -webkit-box-shadow: 0 0 9px #333; }
}

.domino-brick[status2="yes"] {
    -webkit-animation-name: greenPulse;
    -webkit-animation-duration: 2s;
    -webkit-animation-iteration-count: infinite;
}

  
@keyframes nudge {
  
    0% {
      transform: rotate(-7deg);
    }
    
    33% {
      transform: rotate(7deg);
    }
    
    66% {
      transform: rotate(-7deg);
    }
}