
.domino-game {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
   
}

.body {
    display: flex;
    justify-content: center;
}

body {
    font-family: 'Atma';
    font-size: 18px;
    font-weight: bold;
    text-align: center;
}

body {
    
    background-image: url("./67037.jpg");
}
html, body {
    height: 100%;
}


td {
    padding: 0px;
    
    white-space: nowrap
}

.right-nav {
    display: flex;
    flex-direction: column;
}

