.board-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 800px;
    height: 550px;
    /*background-image: url("../cryst.JPG");*/
    border-radius: 25px;
    border-collapse: separate;
    border: 3px solid black;
    background-color: rgba(255, 255, 255, 0.6);
    text-align: center;
    padding: 0 180px;
}

.board {
    display: flex;
    justify-content: center;
    align-items: center;
}

