.control-buttons {
  display: flex;
  justify-content: center;
}

.my-button {
  font-family: "Atma";
  display: inline-block;
  font-size: 20px;
  font-weight: bold;
  padding: 5px 25px;
  -webkit-appearance: none;
  appearance: none;
  color: #fff;
  border-radius: 4px;
  background-color: #ec5d81;
  border: 1px solid black;
  margin: 5px;
  cursor: pointer;
  position: relative;
  transition: transform ease-in 0.1s, box-shadow ease-in 0.25s;
  box-shadow: 0 2px 25px #ffffff80; 
}   

.my-button:disabled {
  background-color: rgba(0, 0, 0, 0.5);
}

.my-button:focus {
  outline: 0;
}
  
.my-button:before, .my-button:after {
  position: absolute;
  content: '';
  display: block;
  width: 140%;
  height: 100%;
  left: -20%;
  z-index: -1000;
  transition: all ease-in-out 0.5s;
  background-repeat: no-repeat;
}

.my-button:before {
  display: none;
  top: -75%;
  background-size: 10% 10%, 20% 20%, 15% 15%, 20% 20%, 18% 18%, 10% 10%, 15% 15%, 10% 10%, 18% 18%;
}
  
.my-button:after {
  display: none;
  bottom: -75%;
  background-size: 15% 15%, 20% 20%, 18% 18%, 20% 20%, 15% 15%, 10% 10%, 20% 20%;
}
 
.my-button:active {
  transform: scale(0.9);
  background-color: darken(#ff0808, 5%);
  box-shadow: 0 2px 25px rgba(255, 0, 130, 0.2);
}
  
.my-button.animate:before {
  display: block;
  animation: topBubbles ease-in-out 0.75s forwards;
}

.my-button.animate:after {
  display: block;
  animation: bottomBubbles ease-in-out 0.75s forwards;
}

@-webkit-keyframes Pulse {
  from { background-color: #ec5d81; -webkit-box-shadow: 0 0 9px #333; }
  50% { background-color: #e63864; -webkit-box-shadow: 0 0 18px #fdfdfd; }
  to { background-color: #ec5d81; -webkit-box-shadow: 0 0 9px #333; }
}

.my-button[status="no-moves"] {
  -webkit-animation-name: Pulse;
  -webkit-animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
}

